<!DOCTYPE html>
<html>
  <head>
    <title>Super Sprinter 3000 - Cats!</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- This is the cat site -->
  </head>
  <body>
    <h1>Cats!</h1>
    <p>Take a break. Here are some cats.<br>They say photos of cute cats are stress-soluble. And anyway, without cats the Internet is useless.</p>
    <p>
      <img src="../static/mira.jpg" height="400" alt="Mira">
      <img src="../static/beni.jpg" height="400" alt="Beni">  
    </p>
    <p>
      <form action="/list"><input type="submit"  id="work" value="Back to work"></form>
    </p>
  </body>
</html>