<!DOCTYPE html>
<html>
  <head>
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- This is the main site, displays the user stories table,
    send selected id back to views.py for deleting and modify,
    redirects to list.html to add new entry -->
  </head>
  <body>
      <h1>User Story Manager</h1>
         <p>
          <form action="/story"><input type="submit" value="Add new User Story"></form>
         </p>
      <table>
        <tr>
            {% for title in ["ID", "Story Title", "User Story", "Acceptance Criteria", "Business Value", "Estimation", "Status"] %}
            <th>{{ title }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
            <td>
              <a href="/story/{{ row[0] }}"><img src="../static/pen.jpg" width="20" height="20" alt="Edit"></a>
              <a href="/delete/{{ row[0] }}"><img src="../static/bin.jpg" width="20" height="20" alt="Delete"></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
      <form action="/cat"><input type="submit" value="Cats!"></form>
    </p>
  </body>
</html>