<!DOCTYPE html>
<html>
  <head>
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
      <h1>User Story Manager</h1>
         <p><input type="submit" value="Add new User Story"></p>
      <table>
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>The id will be here</td>
            <td>The content will be here</td>
            <td>The content will be here</td>
            <td>The content will be here</td>
            <td>The content will be here</td>
            <td>The content will be here</td>
            <td>The content will be here</td>
        </tr>
         <tr>
            <td>Another id will be here</td>
            <td>Another content will be here</td>
            <td>Another content will be here</td>
            <td>Another content will be here</td>
            <td>Another content will be here</td>
            <td>Another content will be here</td>
            <td>Another content will be here</td>
        </tr>
    </table>
  </body>
</html>